<div class="container">
  <div>
    <p class="font-size-18 welcome-box-text bold">Currently we support two types of Profiles:</p>
    <div class="profile-items">
      <ul class="fa-ul">
        <li>
          <span class="fa-li"> <i class="fas fa-check-square"></i> </span>Business
        </li>
        <li>
          <span class="fa-li"> <i class="fas fa-check-square"></i> </span>Personal
        </li>
      </ul>
    </div>

    <p class="business-profile-item-info font-size-16 m-t-30">
      You should create Business Profile if you want to use this platform to keep track of your business bills,
      invoices, payments etc. Our platform is ideal for the broker business model as of now i.e.
      <b>The entity who breaks the deal by staying in the middle of the buyer and the seller</b>.
      <br />
      <span class="font-size-18 bold m-t-10 block"> Our Business profile includes: </span>
    </p>
    <div class="business-items">
      <ul class="fa-ul">
        <li>
          <span class="fa-li"> <i class="fas fa-check-square"></i> </span>Adding and Managing Sellers.
        </li>
        <li>
          <span class="fa-li"> <i class="fas fa-check-square"></i> </span>Adding and Managing Buyers.
        </li>
        <li>
          <span class="fa-li"> <i class="fas fa-check-square"></i> </span>Adding and Managing Invoices.
        </li>
        <li>
          <span class="fa-li"> <i class="fas fa-check-square"></i> </span>Summary of your money per seller.
        </li>
        <li>
          <span class="fa-li"> <i class="fas fa-check-square"></i> </span>Summary of your money per buyer.
        </li>
        <li>
          <span class="fa-li"> <i class="fas fa-check-square"></i> </span>Overall Summary by day, week, month or a date
          range.
        </li>
        <li>
          <span class="fa-li"> <i class="fas fa-check-square"></i> </span>Generating bills.
        </li>
        <li>
          <span class="fa-li"> <i class="fas fa-check-square"></i> </span>and so much more....
        </li>
      </ul>
    </div>

    <p class="persona-profile-item-info font-size-16 m-t-30">
      You should create Personal Profile if you want to use this platform for personal finance management. With our
      platform, you can manage you finances easily and efficiently.
      <br />
      <span class="font-size-18 bold m-t-10 block"> With our Personal profile you can: </span>
    </p>
    <div class="business-items">
      <ul class="fa-ul">
        <li>
          <span class="fa-li"> <i class="fas fa-check-square"></i> </span>Split your bills.
        </li>
        <li>
          <span class="fa-li"> <i class="fas fa-check-square"></i> </span>Track your daily expenditure.
        </li>
        <li>
          <span class="fa-li"> <i class="fas fa-check-square"></i> </span>Set financial goals.
        </li>
        <li>
          <span class="fa-li"> <i class="fas fa-check-square"></i> </span>Get summary of your money by day, week, month,
          year or a specific date range.
        </li>
        <li>
          <span class="fa-li"> <i class="fas fa-check-square"></i> </span>Keep track of lent or borrowed money.
        </li>
        <li>
          <span class="fa-li"> <i class="fas fa-check-square"></i> </span>and so much more....
        </li>
      </ul>
    </div>
  </div>
</div>
